.itemSpacing {
  justify-content: space-between;
}

.addressCard {
  padding: 1rem;
  border-radius: 5px;
  height: 100%;
  width: 100%;
  word-wrap: break-word;
  cursor: pointer;
}

.active {
  background-color: var(--filterPanel);
  border: 2px solid var(--button);
}

.inactive {
  border: 2px solid var(--filterPanel);
}
