.itemSpacing {
  justify-content: space-between;
}

.addressCard {
  padding: 1rem;
  border-radius: 5px;
  height: 7rem;
  width: 100%;
  word-wrap: break-word;
  cursor: pointer;
  margin-top: 2rem;
}

.active {
  background-color: var(--filterPanel);
  border: 2px solid var(--button);
}

.inactive {
  border: 2px solid var(--filterPanel);
}

.fullAddressTruncate {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
