.cardPrice {
  margin-bottom: 0;
}

.cardItem {
  box-shadow: 1px 1px 0.6rem var(--shadow);
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.4s;
}

.productName {
  font-size: 1.2rem;
}

.cardItem:hover {
  transform: scale(1.1);
  overflow: hidden;
}

/* MEDIA QUERIES */
@media screen and (max-width: 500px) {
  .cardItem {
    width: auto;
  }
}
