.grid-4-column {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-around;
}

.footer {
  border-top: 1px solid #eee;
  padding-top: 6rem;
}

/* MEDIA QUERIES */
@media screen and (max-width: 900px) {
  .grid-4-column {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 2rem;
  }
}
@media screen and (max-width: 450px) {
  .grid-4-column {
    grid-template-columns: repeat(2, 1.5fr);
    grid-template-rows: repeat(2, 0.5fr);
    font-size: 0.7rem;
  }

  .footer {
    padding-top: 4rem;
  }
}
